Repository ar-at-localhost/np: changes, and which lefthook commands are due for each by the changed paths.
All: format-nix, check-flake, lint-markdown

lefthook.yml:

pre-commit:
  commands:
    format-nix:
      run: nix fmt .
      glob: "*.nix"
      stage_fixed: true
    check-flake:
      run: nix flake check
      glob: "*.nix"
    lint-markdown:
      run: markdownlint --ignore result/ --fix .
      glob: "*.md"
      stage_fixed: true

docs: update contribution guide and pod links
  CONTRIBUTING.md
  README.md
  book/src/contributing.md
Due: lint-markdown

chore: username change
  CONTRIBUTING.md
  README.md
  book/book.toml
  book/src/installation.md
Due: lint-markdown

docs: default experience
  book/src/SUMMARY.md
  book/src/default-experience.md
Due: lint-markdown

ci: rename job
  .github/workflows/ci.yml
Due: none

fix: expose modules from flake
  book/src/installation.md
  flake.nix
Due: format-nix, check-flake, lint-markdown

deploy: c2e51c06e9cfa84c7cc31f42fda884ea4503ded7
  default-experience.html
  print.html
  searchindex.js
  ss/editor.png
  ss/lazygit.png
  ss/lsp.png
  ss/which-key.png
Due: none

fix: condition
  modules/neovim/plugins/default.nix
Due: format-nix, check-flake

chore: update LICENSE
  LICENSE
Due: none

fix: docs
  README.md
  ROADMAP.md
  book/src/installation.md
  book/src/roadmap.md
  book/src/usage.md
Due: lint-markdown

deploy: f6d2ed62d14bcbc40fb74eb3e09476fb2c4b5a97
  installation.html
  print.html
  roadmap.html
  searchindex.js
  usage.html
Due: none

feat: added dap pick keys
  modules/neovim/keys.nix
Due: format-nix, check-flake

feat: better nix support along with repo itself lint fixes
  flake.nix
  modules/neovim/dap.nix
  modules/neovim/lsp.nix
  modules/neovim/plugins/blink-cmp.nix
  modules/neovim/plugins/bufferline.nix
  modules/neovim/plugins/colorizer.nix
  modules/neovim/plugins/conform.nix
  modules/neovim/plugins/edgy.nix
  modules/neovim/plugins/fzf-lua.nix
  modules/neovim/plugins/lualine.nix
  modules/neovim/plugins/mini.nix
  modules/neovim/plugins/noice.nix
  modules/neovim/plugins/none-ls.nix
  modules/neovim/theme.nix
  modules/presets/javascript.nix
  modules/presets/web.nix
Due: format-nix, check-flake

feat: added proselint for better docs support
  .proselintrc.json
  book/src/presets/README.md
  flake.lock
  flake.nix
  modules/neovim/plugins/none-ls.nix
Due: format-nix, check-flake, lint-markdown

fix: remove extra package, let consumer flake add it
  modules/presets/javascript.nix
Due: format-nix, check-flake

feat: added dotnet preset
  book/src/SUMMARY.md
  book/src/presets/README.md
  book/src/presets/dotnet.md
  flake.nix
  modules/presets/dotnet.nix
Due: format-nix, check-flake, lint-markdown

chore: set default background to light
  modules/neovim/opts.nix
Due: format-nix, check-flake

fix: typo
  modules/presets/javascript.nix
Due: format-nix, check-flake

deploy: 3991b3b680718c41bb89825ae69d74b99f7362a7
  404.html
  configuration.html
  contributing.html
  default-experience.html
  faq.html
  index.html
  installation.html
  introduction.html
  pod.html
  presets/cpp.html
  presets/docker.html
  presets/dotnet.html
  presets/index.html
  presets/javascript.html
  presets/make.html
  presets/python.html
  presets/rust.html
  presets/sql.html
  presets/web.html
  presets/xml.html
  print.html
  roadmap.html
  toc-cc0a3514.js
  usage.html
Due: none

refactor: modularize keybindings
  modules/neovim/default.nix
  modules/neovim/keys.nix
  modules/neovim/keys/buffers.nix
  modules/neovim/keys/code.nix
  modules/neovim/keys/debugger.nix
  modules/neovim/keys/default.nix
  modules/neovim/keys/explorer.nix
  modules/neovim/keys/files.nix
  modules/neovim/keys/git.nix
  modules/neovim/keys/misc.nix
  modules/neovim/keys/notification.nix
  modules/neovim/keys/search.nix
  modules/neovim/keys/session.nix
  modules/neovim/keys/tabs.nix
  modules/neovim/keys/windows.nix
Due: format-nix, check-flake

feat: added TS based code navigations
  flake.lock
  modules/neovim/keys/code.nix
  modules/neovim/plugins/which-key.nix
  modules/neovim/tree-sitter.nix
Due: format-nix, check-flake

feat: picker keybindings
  modules/neovim/keys/default.nix
  modules/neovim/keys/picker.nix
  modules/neovim/plugins/which-key.nix
Due: format-nix, check-flake

feat: todo comments
  modules/neovim/keys/search.nix
  modules/neovim/plugins/default.nix
Due: format-nix, check-flake

feat: git checkout keybinding
  modules/neovim/keys/git.nix
Due: format-nix, check-flake

feat: introduce neogit
  modules/neovim/keys/git.nix
  modules/neovim/plugins/default.nix
Due: format-nix, check-flake

feat: introduce neogit
  README.md
  book/src/SUMMARY.md
  book/src/configuration.md
  book/src/introduction.md
  book/src/presets/README.md
  book/src/xtras/README.md
  book/src/xtras/orgmode.md
  flake.nix
  modules/neovim/keys/git.nix
  modules/neovim/plugins/default.nix
  modules/presets/default.nix
  modules/xtras/default.nix
  modules/xtras/orgmode.nix
Due: format-nix, check-flake, lint-markdown

deploy: d0c552da42ce7de61dc525db81363e4d3acf0b2b
  404.html
  configuration.html
  contributing.html
  default-experience.html
  faq.html
  index.html
  installation.html
  introduction.html
  pod.html
  presets/cpp.html
  presets/docker.html
  presets/dotnet.html
  presets/index.html
  presets/javascript.html
  presets/make.html
  presets/python.html
  presets/rust.html
  presets/sql.html
  presets/web.html
  print.html
  roadmap.html
  searcher-c2a407aa.js
  searchindex-32ec49eb.js
  searchindex-ccc00f6b.js
  toc-a3c69816.js
  toc.html
  usage.html
  xtras/index.html
  xtras/orgmode.html
Due: none

feat: useful keybindings
  modules/neovim/keys/picker.nix
  modules/neovim/keys/search.nix
Due: format-nix, check-flake

fix: use auto-session instead of custom auto-cmds
  modules/neovim/autocmd.nix
  modules/neovim/default.nix
  modules/neovim/plugins/auto-session.nix
  modules/neovim/plugins/default.nix
Due: format-nix, check-flake

feat: rename buffer keybinding
  modules/neovim/keys/buffers.nix
Due: format-nix, check-flake

feat: new keybidings
  modules/neovim/keys/default.nix
  modules/neovim/keys/ui.nix
  modules/neovim/plugins/which-key.nix
Due: format-nix, check-flake

docs: updated readme about 25.11
  README.md
Due: lint-markdown

refactor: use alternate path for org files
  book/src/xtras/orgmode.md
  modules/xtras/orgmode.nix
Due: format-nix, check-flake, lint-markdown

chore: adjust envrc
  .envrc.example
  .gitignore
Due: none

deploy: 91a93ce73777c542639580490e987dda2f89a1b9
  404.html
  configuration.html
  contributing.html
  default-experience.html
  faq.html
  index.html
  installation.html
  introduction.html
  pod.html
  presets/cpp.html
  presets/docker.html
  presets/dotnet.html
  presets/index.html
  presets/javascript.html
  presets/make.html
  presets/python.html
  presets/rust.html
  presets/sql.html
  presets/web.html
  presets/xml.html
  print.html
  roadmap.html
  searcher-c2a407aa.js
  searchindex-202a4da3.js
  searchindex-32ec49eb.js
  usage.html
  xtras/index.html
  xtras/orgmode.html
Due: none

fix: treesitter
  .envrc.example
  .luarc.json
  README.md
  book/src/installation.md
  flake.lock
  flake.nix
  modules/neovim/default.nix
  modules/neovim/keys/buffers.nix
  modules/neovim/keys/search.nix
  modules/neovim/lua/root.lua
  modules/neovim/plugins/snacks.nix
  modules/neovim/tree-sitter.nix
  modules/presets/web.nix
  nix/nixvim.nix
  nix/preview.nix
  stylua.toml
Due: format-nix, check-flake, lint-markdown

feat: added MJML
  README.md
  book/src/presets/README.md
  flake.nix
  modules/langs/default.nix
  modules/langs/mjml.nix
  nix/preview.nix
Due: format-nix, check-flake, lint-markdown

feat: update keys
  modules/neovim/keys/buffers.nix
  modules/neovim/keys/code.nix
  modules/neovim/keys/picker.nix
  modules/neovim/keys/tabs.nix
Due: format-nix, check-flake

feat: remove lazygit, neogit prevails
  book/src/default-experience.md
  book/src/ss/lazygit.png
  modules/neovim/keys/git.nix
  modules/neovim/plugins/snacks.nix
Due: format-nix, check-flake, lint-markdown
